.header-inner {
  background-color: #f1f5f9;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
}

.header-content {
  display: flex;

  align-items: center;
  gap: 15px;
}
.header-logo {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  max-height: 40px;
}
.header-span {
  margin-left: 10px;
}
.header-span h1 {
  color: #1b3375;
  font-family: serif;
  font: size 2.5rem;
  font-weight: 800;
  margin-left: 0;
  gap: 0;
  margin: 0;
}
.header-input {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.input {
  padding: 10px;
  width: 170px;
  border: none;
  outline: none;
  border-radius: 25px;
  font: size 0.7rem;
  padding-right: 40px;
}
.search-icon {
  position: absolute;
  color: rgb(75, 190, 7);
  width: 18px;
  height: 18px;
  right: 15px;
  top: 20%;
}
.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}
.link {
  color: #1b3375;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: serif;
  padding: 5px 6px;
  margin-left: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.link:hover {
  background-color: #ffd5a7;
  border-radius: 5px;
}
.cart-btn {
  padding: 4px 8px;
  background-color: #1b3375;
  color: #fff;
  border-radius: 5px;
  font-family: serif;
  font-size: 0.9rem;
  margin-right: 10px;
  border: none;
  transition: background-color 0.3s ease;
}
.cart-btn:hover {
  background-color: #e4af78;
  outline: none;
}
@media (max-width: 900px) {
  .header-inner {
    flex-direction: column;
    padding: 10px;
  }

  .link {
    font-size: 1.1rem;
    margin-left: 10px;
  }

  .header-logo {
    margin-bottom: 5px;
  }

  .header-span h1 {
    font-size: 2rem;
  }

  .input {
    width: 140px;
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header-inner {
    padding: 0 10px;
  }

  .link {
    font-size: 0.9rem;
    padding: 3px 4px;
  }

  .cart-btn {
    padding: 3px 5px;
    font-size: 0.85rem;
  }
}

@media (max-width: 768px) {
  .header-inner {
    flex-direction: column;
    text-align: center;
  }

  .header-logo {
    justify-content: center;
  }

  .header-input {
    display: none;
  }

  .header-link {
    justify-content: center;
  }
  .header-span {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .header-span h1 {
    font-size: 1.8rem;
  }

  .link {
    font-size: 1rem;
  }
  .cart-btn {
    font-size: 0.8rem;
    padding: 3px 5px;
  }
}
